In [ ]:
!pip install pandas

In [ ]:
import psycopg2
import pandas as pd

In [ ]:
def create_databse():
    
    #connect to default db
    conn= psycopg2.connect("host= 127.0.0.1 dbname= postgres user= postgres password= root")
    conn.set_session(autocommit= True)
    cur= conn.cursor()
    
    #create db
    cur.execute("Drop database IF EXISTS airbnb")
    
    cur.execute("create database deforestation")
    
    #close connection with default db
    conn.close()
    
    #connect to created db
    conn= psycopg2.connect("host= 127.0.0.1 dbname= deforestation user= postgres password= root")
    conn.set_session(autocommit= True)
    cur= conn.cursor()
    
    return cur, conn

In [ ]:
cur, conn = create_databse()

In [ ]:
deforest_df= pd.read_csv("D:/project/Deforestation data/forest_area (1).csv")

In [ ]:
filter1 = deforest_df["country_code"]=="ABW"
deforest_df.where(filter1)

In [ ]:
airbnb_df[['no of people rated tbd', 'tbd']]= airbnb_df.no_of_people_rated.str.split(")",expand=True)

In [ ]:
#comments_df.head()
airbnb_df.rename(columns= {'Title': 'listing_title', 'Detail': 'listing_detail',\
                                                'Date': 'created_date', 'Price(in dollar)': 'listing_price',\
                                                'Offer price(in dollar)': 'listing_offer_price',\
                                                'review and rating': 'listing_review_rating',\
                                                'Number of bed': 'number_of_bed',\
                                                'no of people rated tbd': 'no_of_people_rated'}, inplace=True)

In [ ]:
airbnb_df.drop(['tbd'], axis=1, inplace = True)

In [ ]:
deforest_table_create=("""Create Table If Not Exists forest_area(
country_code VARCHAR,
country_name VARCHAR,
year INT,
forest_area_sqkm DECIMAL)
""")

In [ ]:
cur.execute(deforest_table_create)

In [ ]:
deforest_df2= pd.read_csv("D:/project/Deforestation data/land_area (1).csv")

In [ ]:
deforest_table2_create=("""Create Table If Not Exists land_area(
country_code VARCHAR,
country_name VARCHAR,
year INT,
total_area_sq_mi DECIMAL)
""")

In [ ]:
cur.execute(deforest_table2_create)

In [ ]:
deforest_df3= pd.read_csv("D:/project/Deforestation data/regions (1).csv")

In [ ]:
deforest_table3_create=("""Create Table If Not Exists regions(
country_name VARCHAR,
country_code VARCHAR,
region VARCHAR,
income_group VARCHAR)
""")

In [ ]:
cur.execute(deforest_table3_create)

In [ ]:
deforest_table_insert= ("""Insert Into forest_area(
country_code,
country_name,
year,
forest_area_sqkm)
VALUES(%s, %s, %s, %s)""")

In [ ]:
for i, row in deforest_df.iterrows():
    cur.execute(deforest_table_insert, list(row))

In [ ]:
for i, row in deforest_df.iterrows():
    print(list(row))

In [ ]:
cur.execute("Select * from forest_area")

In [ ]:
deforest_table2_insert= ("""Insert Into land_area(
country_code,
country_name,
year,
total_area_sq_mi)
VALUES(%s, %s, %s, %s)""")

In [ ]:
for i, row in deforest_df2.iterrows():
    cur.execute(deforest_table2_insert, list(row))

In [ ]:
deforest_table3_insert= ("""Insert Into regions(
country_name,
country_code,
region,
income_group)
VALUES(%s, %s, %s, %s)""")

In [ ]:
for i, row in deforest_df3.iterrows():
    cur.execute(deforest_table3_insert, list(row))

In [ ]:
post_table_create=("""Create Table If Not Exists reddit_post(
type VARCHAR,
id VARCHAR PRIMARY KEY,
subreddit_id VARCHAR,
subreddit_name VARCHAR,
title VARCHAR,
score INT
)""")

In [ ]:
cur.execute(post_table_create)

In [ ]:
posts_table_insert= ("""Insert Into reddit_post(
type,
id,
subreddit_id,
subreddit_name,
title,
score)
VALUES(%s, %s, %s, %s, %s, %s)""")

In [ ]:
for i, row in posts_clean_df.iterrows():
    cur.execute(posts_table_insert, list(row))